{% extends "base.html" %}
{% load material_form %}


{% block "top" %}
{% endblock %}


{% block "primary" %}
  <div class="container expand-on-small-only">
    <div class="row valign change-form">
      <div class="col s12 m12 l9 offset-l1">
        <div class="card">
          <form method="post" class="viewform">{% csrf_token %}
            <div class="card-content">
              <span class="card-title grey-text text-darken-2">{{ title }}</span>
              {% form %}
              {% endform %}
              <button type="submit" name="_submit" class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
