<!DOCTYPE html>{% load static i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title|default:"Burgerpot" }}</title>
    <link href="{% static 'material/fonts/material-design-icons/material-icons.css' %}" rel="stylesheet">
    <link href="{% static 'materialize.css' %}" rel="stylesheet">
    <link href="{% static 'material/css/materialize.forms.css' %}" rel="stylesheet">
    <link href="{% static 'material/css/jquery.datetimepicker.css' %}" rel="stylesheet">
    {% block "top" %}{% endblock %}
  </head>
  <body class="{% block 'bodyclass' %}valign-wrapper2{% endblock %}">
    {% block "primary" %}
    {% endblock %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    <script src="{% static 'material/js/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'material/js/jquery.formset.js' %}"></script>
    <script src="{% static 'material/js/materialize.js' %}"></script>
    <script src="{% static 'material/js/materialize.forms.js' %}"></script>
    {% block "end" %}{% endblock %}
  </body>
</html>

